a {
  text-decoration: none;
  color: black;
}

.product-info {
  width: 100%;
  height: 40px;
  text-align: center;
}

.big-text {
  font-size: 16px;
  color: black;
}

.small-text {
  font-size: 14px;
  color: gray;
  padding-top: 2px;
}

.cart-list {
  position: relative;
  width: 90%;
  height: 15vh;
  margin: 40px auto auto auto;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
}

.smaller-image {
  background-image: url(../images/eye1.jpeg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.items-details {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 10px;
}

.name {
  margin-top: 0;
  margin-right: 0;
  width: calc(100% - 40px);
}

.name a {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2px;
  align-items: flex-start;
  align-self: flex-start;
  height: auto;
  margin-top: 0;
}

.shop-select {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
}

.shop-select > [prefix] {
  position: absolute;
  left: 0px;
  top: calc(50% - 8px);
  line-height: 16px;
  pointer-events: none;
}

.shop-select > select {
  font-size: 16px;
  padding: 2px 24px 2px 40px;
  width: 100%;
  background-color: transparent;
  font-weight: 300;
  border: none;
  color: black;
  outline: none;
  margin: 0;
}

#op1,
.size,
.price {
  text-align: left;
  width: auto;
  font-size: 15px;
  color: gray;
}

.size,
.price {
  min-width: 70px;
}

.size > span {
  margin-left: 10px;
}

#cancel {
  position: absolute;
  right: 10px;
  top: 2px;
}

.total-price {
  width: 50%;
  float: right;
  margin: 10px 20px 0 0;
  text-align: right;
}

.total-price > span {
  font-size: 14px;
  padding: 8px;
  font-weight: bolder;
}

.checkout-button {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #172c50;
  color: white;
}

footer a {
  font-size: 20px;
  display: block;
  padding-top: 10px;
  color: white;
}

.toggle-button {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  header {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
  }

  .logo {
    grid-column: 2;
  }

  a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    grid-column: 1;
  }

  .shopping-cart {
    justify-self: center;
  }

  #sidebar {
    display: none;
  }

  .big-text {
    font-size: 20px;
  }

  .small-text {
    font-size: 16px;
    padding-top: 14px;
  }

  .items-details {
    grid-template-columns: 2fr 5fr;
    justify-items: center;
    align-items: center;
  }

  .detail {
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    width: 100%;
  }

  .size,
  .price {
    align-self: center;
    justify-self: center;
  }

  .size {
    padding-left: 20px;
  }

  .total-price {
    margin-right: 7%;
  }

  .total-price > span {
    margin-right: 30px;
    font-size: 20px;
  }

  .checkout-button {
    display: inline-block;
    width: 160px;
    height: 40px;
    border: 2px solid;
    text-align: center;
  }

  .checkout-button a {
    font-size: 16px;
    display: block;
    padding-top: 10px;
  }

  footer {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  header {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
  }

  .logo {
    grid-column: 2;
  }

  a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    grid-column: 1;
  }

  .shopping-cart {
    justify-self: center;
  }

  #sidebar {
    display: none;
  }

  .big-text {
    font-size: 20px;
  }

  .small-text {
    font-size: 16px;
    padding-top: 14px;
  }

  .cart-list {
    width: 60%;
  }

  .items-details {
    grid-template-columns: 3fr 5fr;
    justify-items: center;
    align-items: center;
  }

  .detail {
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    width: 100%;
  }

  .name {
    font-size: 20px;
  }

  .size,
  .price {
    align-self: center;
    justify-self: center;
  }

  .size {
    padding-left: 20px;
  }

  #op1,
  .size,
  .price {
    font-size: 18px;
  }

  .total-price {
    margin-right: 20%;
  }

  .total-price > span {
    margin-right: 30px;
    font-size: 20px;
  }

  .checkout-button {
    display: inline-block;
    width: 160px;
    height: 40px;
    border: 2px solid;
    text-align: center;
  }

  .checkout-button a {
    font-size: 16px;
    display: block;
    padding-top: 10px;
  }

  footer {
    display: none;
  }
}
