.toggle-button {
  display: none;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.section-product {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.5fr 0.5fr 2fr;
  justify-items: center;
  align-items: center;
}

.big-image {
  width: 100%;
  height: 50vh;
  background-image: url(../images/eye1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  align-self: flex-start;
}

.image-info {
  width: 80%;
  height: 10vh;
}

.product-name {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.product-price {
  font-size: 14px;
  color: gray;
  padding-top: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 80%;
  height: 20vh;
  align-self: flex-start;
}

.shop-select {
  display: inline-block;
  position: relative;
  transform: translateZ(0);
}

#op1 {
  border-bottom: 1px solid gray;
}

.shop-select > [prefix] {
  position: absolute;
  left: 0px;
  top: calc(50% - 8px);
  line-height: 16px;
  pointer-events: none;
}

.shop-select > select {
  font-size: 16px;
  padding: 16px 24px 16px 70%;
  width: 100%;
  background-color: transparent;
  font-weight: 300;
  border: none;
  color: black;
  outline: none;
  margin: 0;
}

.description {
  width: 80%;
  height: 80%;
  font-weight: bolder;
}

.big-description {
  font-size: 18px;
}

.brief {
  font-size: 14px;
  padding-top: 20px;
  font-weight: lighter;
  color: gray;
  line-height: 20px;
}

.add-to-cart {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #172c50;
}

.add-to-cart a {
  font-size: 18px;
  padding-top: 10px;
  color: white;
  display: block;
}

footer {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  header {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
  }

  .logo {
    grid-column: 2;
  }

  a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    grid-column: 1;
  }

  .shopping-cart {
    justify-self: center;
  }

  .section-product {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
  }

  .big-image {
    width: 100%;
    height: 50vh;
    background-image: url(../images/eye1.jpeg);
    grid-row: 1/4;
    align-self: center;
  }

  .image-info {
    width: 80%;
    height: 5vh;
  }

  .product-name {
    font-size: 22px;
  }

  .product-price {
    font-size: 18px;
  }

  .options {
    width: 80%;
    height: 10vh;
  }

  .description {
    height: 100%;
  }

  .big-description {
    font-size: 20px;
  }

  .brief {
    font-size: 16px;
  }

  .add-to-cart {
    width: 180px;
    height: 50px;
    margin-top: 20px;
    position: relative;
    left: 55%;
    border: 2px solid;
    background-color: white;
  }

  .add-to-cart a {
    font-size: 20px;
    color: black;
  }
}

@media screen and (min-width: 1025px) {
  header {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
  }

  .logo {
    grid-column: 2;
  }

  a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    grid-column: 1;
  }

  .shopping-cart {
    justify-self: center;
  }

  .section-product {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    grid-column-gap: 2em;
  }

  .big-image {
    width: 100%;
    height: 50vh;
    background-image: url(../images/eye1.jpeg);
    grid-row: 1/4;
    align-self: center;
  }

  .image-info {
    width: 80%;
    height: 5vh;
    justify-self: flex-start;
  }

  .product-name {
    font-size: 26px;
  }

  .product-price {
    font-size: 20px;
  }

  .options {
    width: 50%;
    height: 15vh;
    margin-top: 20px;
    justify-self: flex-start;
  }

  .description {
    height: 100%;
    margin-top: 30px;
    justify-self: flex-start;
  }

  .big-description {
    font-size: 20px;
  }

  .brief {
    width: 70%;
    font-size: 16px;
  }

  .add-to-cart {
    width: 180px;
    height: 50px;
    margin-top: 20px;
    position: relative;
    left: 50%;
    border: 2px solid;
    background-color: white;
  }

  .add-to-cart a {
    font-size: 20px;
    color: black;
  }
}
