@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", "Noto", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  width: 100%;
  height: 6em;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: white;
}

#sidebar {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: white;
  left: -60%;
  transition: 0.3s ease-in-out;
  box-shadow: 10px;
  grid-column: 1;
}

#sidebar.active {
  left: 0;
}

#sidebar ul {
  margin-top: 70px;
  margin-left: 10px;
}

#sidebar ul a {
  text-align: left;
  text-decoration: none;
}

#sidebar ul li {
  list-style: none;
  color: black;
  font-size: 22px;
  font-weight: bolder;
  padding: 10px;
}

#sidebar .toggle-button {
  position: fixed;
  top: 35px;
  left: 20px;
}

.toggle-button span {
  width: 25px;
  height: 3px;
  background-color: black;
  display: block;
  margin-top: 5px;
}

.logo {
  width: 100px;
  height: 80px;
  grid-column: 2;
}

.shopping-cart {
  width: 50px;
  height: 50px;
  grid-column: 3;
  text-align: center;
}

.shopping-cart i {
  font-size: 30px;
  color: black;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  header {
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 2fr 1fr;
    height: 8em;
    position: sticky;
    top: 0;
  }

  #sidebar .toggle-button {
    display: none;
  }

  #sidebar {
    position: relative;
    width: 100%;
    height: 3em;
    left: 0px;
    grid-row: 2;
    grid-column: 1/4;
    text-align: center;
    margin-top: 10px;
  }

  #sidebar ul {
    width: 70%;
    height: 10px;
    display: inline;
  }

  #sidebar ul a {
    text-decoration: none;
    cursor: pointer;
  }

  #sidebar ul li {
    list-style: none;
    color: black;
    font-size: 14px;
    display: inline;
  }

  #sidebar ul a li:hover {
    border-bottom: 2px solid black;
    font-size: 16px;
  }

  .logo {
    margin-top: 10px;
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    margin-left: 70px;
  }

  .logo:hover {
    opacity: 0.2;
  }

  .logo a {
    cursor: pointer;
  }

  .shopping-cart {
    justify-self: left;
    margin-right: 10px;
    text-align: left;
  }
}

@media screen and (min-width: 1025px) {
  header {
    position: sticky;
    top: 0;
  }

  .toggle-button {
    display: none;
  }

  #sidebar ul li {
    font-size: 18px;
  }

  #sidebar ul a li:hover {
    border-bottom: 2px solid black;
    font-size: 20px;
  }
}
